@use '../../../../layout/colors/colors' as colors;
@mixin hover-focus{
    &_hover-focus:hover{
        border-color: colors.$color-dark-shade50;
    }
    &_hover-focus:focus {
        @extend :hover;
        color: colors.$color-dark-shade75;
    }
}
