mixin input-subscription(title, placeholder)
    .input.subscription
        .input__title.title-form= title
        label(for="").text-enter
            input(type="email" placeholder= placeholder)
            input(type="submit" value="")
                    