$color-dark-shade100: #1F2041;
$color-dark-shade75: #575870;
$color-dark-shade50: #8F8FA0;
$color-dark-shade25: #C7C7CF;
$color-dark-shade5: #F4F4F5;
$color-green: #6FCF97;
$color-purple: #BC9CFF;

$Primary-Gradient: linear-gradient( #BC9CFF, #8BA4F9);