mixin dropdown(title, text)
    .dropdown.dropdown_hover-focus
        .dropdown__title.title-form= title
        .dropdown-select 
            .dropdown-select__text= text
            .dropdown__arrow
                .arrow.down