mixin dropdown(title, placeholder)
    .dropdown.dropdown_hover-focus
        .dropdown.title-form= title
        .select 
            .dropdown__placeholder= placeholder
            .dropdown__arrow
                .arrow.down