include project/form-elements/input/input.pug
include project/form-elements/dropdown/dropdown

doctype html

html(lang="ru")
    include layout/head/head.pug
    body
        +dropdown("Dropdown", "Сколько гостей")
        +input("Input", "Email")
