mixin filter-date-dropdown(title, text)
    .filter-date-dropdown.dropdown_hover-focus
        .filter-date-dropdown__title.title-form= title
        .filter-date-dropdown-select
            .filter-date-dropdown-select__text= text
            .filter-date-dropdown__arrow
                .arrow.down