mixin date-dropdown(title, text)
    .date-dropdown.dropdown_hover-focus
        .date-dropdown__title.title-form= title
        .date-dropdown-select
            .date-dropdown-select__text= text
            .date-dropdown__arrow
                .arrow.down